*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 20px;
}

input.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
}

.submit-btn{
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
}

